.clients {
    padding: 94px 0;
    border: 1px solid red;


    &__title {
            font-weight: 700;
            font-size: 36px;
            line-height: calc(42 / 36);
            text-align: center;
            letter-spacing: 0.03em;
            margin-bottom: 50px;
            color: var(--dark-txt-clr);
        }
    
        &__list {
            list-style: none;
            display: flex;
            padding: 0;
            gap: 30px;
        }
    
        &__container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        &__link {
            fill: var(--icon-color);
            width: 170px;
            height: 92px;
            border: 1px solid #afb1b8;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
    
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &__link:hover,
        &__link:focus {
            fill: var(--main-clr);
            border: 1px solid var(--main-clr);
        }
}



