.nav,
.info {
    display: flex;
    align-items: center;
}

.nav {
    margin-right: auto;

    &__link {
            text-decoration: none;
            color: inherit;
            padding: 32px 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--dark-txt-clr);
            text-decoration: none;
            position: relative;
    
            transition-property: color, fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        &__list {
            list-style: none;
            display: flex;
            gap: 50px;
            padding: 0;
        }

        &__link.current {
            color: var(--main-clr);
        }

        &__link.current::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: -8px;
            background-color: var(--main-clr);
            border-radius: 2px;
        }

        &__link:hover,
        &__link:focus {
            color: var(--main-clr);
            fill: var(--main-clr);
        }
    
        &__link--data {
            color: var(--grey-txt-clr);
            fill: var(--grey-txt-clr);
        }

}

.header {
    border-bottom: 1px solid #ececec;
            border: 1px solid red;
}

.header-container {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding: 32px 0;
}

.webt {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: var(--main-clr);
}

.web {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */

    letter-spacing: 0.03em;
    color: var(--dark-clr);
    text-decoration: none;
    margin-right: 92px;
}

.info {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
}

.mail__svg {
    margin-right: 10px;
}

.tel__svg {
    margin-right: 10px;
}