.body {
    font-family: "Roboto", sans-serif;
    color: var(--grey-txt-clr);
    font-size: 14px;
    letter-spacing: 0.03em;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}